.pageTitle__letter {
  opacity: 0;
}


@for $i from 0 through 30 {
  .pageTitle__letter--#{$i} {
      animation: pageTitle 0s ease-in-out both;
      animation-delay: $i * 0.1s;
  }
}

//
// $i: 0;
// @while $i < 100 {
//   animation: pageTitle 0.6s ease-in-out both;
//   left: $i;
//   $i: $i + 1;
// }

@keyframes pageTitle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
