.header {
  height: 60px;
}

.header__logo {
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;

  @include breakpoint-up(md) {
    left: 15px;
    right: auto;
    margin: auto;
  }
}

.header__menuOpen {
  left: 15px;
  top: 18px;
}

.header__menuClose {
  right: 15px;
  top: 18px;
}

.nav__desktop {
}

.nav__mobile {
  width: 50%;
  min-height: 100vh;
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in-out;
}

.nav__mobile.is-active {
  transform: translateX(0);
}

.nav__mobile__list {
  top: 45px;
}
