.header {
  height: 70px;
}

.header__logo {
  top: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 45px;
  width: 45px;

  @include breakpoint-up(md) {
    left: 15px;
    right: auto;
    margin: auto;
  }
}

.header__menuOpen {
  left: 15px;
  top: 22px;
}

.header__menuClose {
  right: 15px;
  top: 18px;
}

.nav__desktop {
}

.nav__mobile {
  width: 70%;
  min-height: 100vh;
  transform: translateX(-100vw);
  transition: transform 0.7s ease-in-out;
}

.nav__mobile.is-active {
  transform: translateX(0);
}

.nav__mobile__search {
  box-shadow: 0;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.nav__mobile > .nav__mobile__list {
  top: 65px;
}

@for $i from 1 through 10 {
  .nav__mobile > .nav__mobile__list > li:nth-child(#{$i}) {
    transform: translateX(-100vw);
    transition: transform 0.7s ease-in-out;
    transition-delay: #{$i * .1}s
  }
}

.nav__mobile.is-active > .nav__mobile__list > li {
  transform: translateX(0);
}
